.profilepicture {
  width: 100px;
  height: 100px;
  clip-path: circle(50%);
  object-fit: cover;
  margin-top: 100px;
  margin-left: -510px;
  transform: translateY(-110px); /* Mueve la imagen 20px hacia arriba */
}